:global body {
  width: 100%;
  background-color: #d8dfe3;
  font-family: 'Nunito', sans-serif;
}

.app {
  width: 100%;
}

.card {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  overflow: scroll;
  background-color: #ffffff;
}
